<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Rollnumber:</strong>
    <%= student.rollnumber %>
  </p>

  <p>
    <strong>Results:</strong>
    <%= student.results %>
  </p>

</div>
